<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" aria-describedby="name"
            placeholder="Enter recipe name" formControlName="name">
        <div class="text-danger" *ngIf="recipeForm.get('name').touched && recipeForm.get('name').errors">
            Name is required</div>
    </div>
    <br>
    <div>
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description"
            formControlName="description">
    </div>
    <br>
    <div>
        <label for="imagePath">Image Path</label>
        <input type="text" class="form-control" id="imagePath" placeholder="Image Path" formControlName="imagePath">

    </div>
    <div *ngIf="recipeForm.get('imagePath').value">
        <img [src]="recipeForm.get('imagePath').value" alt=" Recipe preview" width="450" height="350">
    </div>
    <div class="text-danger" *ngIf="recipeForm.get('imagePath').touched && recipeForm.get('imagePath').errors">
        Image path is required</div>
    <br>
    <div formArrayName="ingredients">
        <div *ngFor="let ingredientControls of controls; let i=index" [formGroupName]="i">
            <div style="margin-bottom: 9px; display: flex; gap: 6px;">
                <div>
                    <input type="text" class="form-control" style="flex: 2;" formControlName="name">
                    <div class="text-danger" *ngIf="isNameInvalid(i)">Name is required</div>
                </div>
                <div>
                    <input type="number" class="form-control" style="flex: 1" formControlName="amount">
                    <div class="text-danger" *ngIf="isAmountInvalid(i)">Amount is required</div>
                </div>
                <button class="btn btn-danger" type="button" (click)="removeIngredient(i)">X</button>
            </div>
        </div>
    </div>

    <br>
    <button class=" btn btn-success btn-sm" type="button" (click)="addIngredientGroup()">Add Ingredient</button>
    <br>
    <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 13px;"
        [disabled]="!recipeForm.valid">{{editMode?"Update":"Add"}}</button>
</form>
