<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" aria-describedby="name"
            placeholder="Enter recipe name" formControlName="name">
        <div class="text-danger" *ngIf="recipeForm.get('name').touched && recipeForm.get('name').errors">
            Name is required</div>
    </div>
    <br>
    <div>
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description"
            formControlName="description">
    </div>
    <br>
    <div>
        <label for="imagePath">Image Path</label>
        <div class="text-danger" *ngIf="recipeForm.get('imagePath').touched && recipeForm.get('imagePath').errors">
            Image path is required</div> <input type="text" class="form-control" id="imagePath" placeholder="Image Path"
            formControlName="imagePath">

    </div>
    <hr>
    <div>
        <img [src]="recipeForm.get('imagePath').value" alt=" Recipe preview" width="450" height="350">
    </div>

    <br>
    <div>
        <label for="ingredients">Ingredients</label>
        <div formArrayName="ingredients">
            <div *ngFor="let ingredient of recipeForm.get('ingredients').value; let i = index">
                <div style="margin-bottom: 9px; display: flex; gap: 6px;">
                    <input type="text" class="form-control" style="flex: 2;" [value]="ingredient.name">
                    <input type="number" class="form-control" style="flex: 1" [value]="ingredient.amount">
                    <!-- You can optionally include a button to remove the ingredient -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-success" type="button" (click)="addIngredient()">Add Ingredient</button>



</form>
